<router-outlet></router-outlet>
<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"  style="position:absolute; top:0; left:0;">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" routerLink="inventario">inventario
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" routerLink="proveedor">Proveedores
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" routerLink="venta">Ventas
    </label>
  </div>
  <hr>